<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Below is the material table example: </h2>
<div style="width: 50%;height: 50%;">
  <app-mat-table></app-mat-table>
</div> -->

<!-- <app-my-like [isActive]="tweet.isLiked" [likesCount]="tweet.likesCount"></app-my-like> -->

<!-- <ul class="nav nav-pills">
  <li class="active"><a href=""></a></li>
  <li><a href=""></a></li>
</ul>

<div>
  <div>Map View Content</div>
</div> -->

<!-- <zippy title="My Introduction">
    My Introduction content
</zippy>

<course-form></course-form> -->

<!-- <signup-form></signup-form> -->

<!-- <new-course-form></new-course-form> -->

<!-- <reset-password></reset-password> -->

<!-- <posts></posts> -->

<!-- <followers-list></followers-list> -->
<!-- <nav-bar></nav-bar> -->
<router-outlet></router-outlet>
<!-- <rout-nav-demo></rout-nav-demo> -->


